*

!.gitignore

!go.mod
!go.sum

!LICENSE

!actor/
!actor/**/*

!camera/
!camera/**/*

!cmd/
!cmd/**/*

!data/
!data/**/*

!game/
!game/**/*

!scene/
!scene/**/*

# Ignore specific file types regardless of location
*.exe
*.tiled-session